<html>
  <head>
    <meta charset="UTF-8">
    <style>
      {% include 'entireframework.min.css' %}
    </style>
    <style>
      .dgugreen {
        background-color: #f5fff2;
        border-color: #690;
      }
      a {
        color: #690;
      }
      #main {
        background-color: #efefef;
        padding-left: 20px;
        padding-right: 20px;
      }
      .missing {
        color: #b94a48;
        background-color: #f2dede;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col c2">&nbsp;</div>
      <div class="col c8">
        <h1>{{datapackage.title}}</h1>
        {% if datapackage.description %}
        <p id="description">{{datapackage.description}}</p>
        {% endif %}

        <table class="table"  cellspacing="0">
          <tr id="license"><td>License</td><td style='text-align: right;'>{{datapackage.license or "Not specified"}}</td></tr>
        </table>

        <h2>Resources</h2>
        <ul>
    {% for resource in datapackage.resources %}
      {% if resource.included_in_zip %}
        <li>
          <a href="{{resource.path}}" class="local">{{resource.description}}</a>
          - (<a href="{{resource.url}}" class="source">source</a>)
        </li>
      {% else %}
        <li>
          <span class="missing">{{resource.description}}</span>
          - (<a href="{{resource.url}}" class="source">source</a>)<br/>
          {% if resource.has_data %} This resource is missing from the data.gov.uk archive.
          {% if resource.reason %}During archiving this resource failed because: {{ resource.reason }}{% endif %}
          {% else %}Resource is not included in the zip because the detected format '{{ resource.detected_format }}'
          suggests it is not data
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
        </ul>
        <div id="created" class="msg dgugreen">
          Data Package Zip created {{date|datetimeformat}}
        </div>
      </div>
      <div class="col c2">&nbsp;</div>
  </body>
</html>
